<div data-role="view" data-title="View" data-layout="main" data-model="app.login" data-show="app.login.onShow" data-after-show="app.login.afterShow" id="loginScreen" class="screen">
    <div class="signin-view screen__content screen__content--signin">
        <form>
            <ul data-role="listview" data-style="inset">
                <li>
                    <label><span data-bind="text: strings.login.loginModel.emailLabel"></span>
                        <input type="email" data-bind="value: loginModel.email, attr: { placeholder: strings.login.loginModel.emailPlaceholder }" required autofocus>
                    </label>
                </li>
                <li>
                    <label><span data-bind="text: strings.login.loginModel.passwordLabel"></span>
                        <input type="password" data-bind="value: loginModel.password, attr: { placeholder: strings.login.loginModel.emailPlaceholder }" required>
                    </label>
                </li>
                <li>
                    <label><span data-bind="text: strings.login.loginModel.remembermeLabel"></span>
                        <input type="checkbox" data-bind="checked: loginModel.rememberme">
                    </label>
                </li>
            </ul>

            <div class="button-group button-group-vertical">
                <a data-role="button" class="primary" data-bind="events: { click: loginModel.signin }, buttonText: strings.login.loginModel.signinLabel"></a>

                <a data-role="button" data-bind="events: { click: loginModel.toggleView }, buttonText: strings.login.loginModel.gotoRegisterLabel"></a>

            </div>

            <span class="status" data-bind="text: loginModel.errorMessage"></span>
        </form>
    </div>
    <div class="signup-view screen__content screen__content--signup" style="display:none;">
        <form>
            <ul data-role="listview" data-style="inset">
                <li>
                    <label><span data-bind="text: strings.login.loginModel.registerEmailLabel"></span>
                        <input type="email" data-bind="value: loginModel.email, attr: { placeholder: strings.login.loginModel.registerEmailPlaceholder }" required>
                    </label>
                </li>
                <li>
                    <label><span data-bind="text: strings.login.loginModel.registerPasswordLabel"></span>
                        <input type="password" data-bind="value: loginModel.password, attr: { placeholder: strings.login.loginModel.registerPasswordPlaceholder }">
                    </label>
                </li>
            </ul>
            <div class="button-group button-group-vertical">
                <a class="primary" data-role="button" data-bind="events: { click: loginModel.register }, buttonText: strings.login.loginModel.registerLabel"></a>
                <a data-role="button" data-bind="events: { click: loginModel.toggleView }, buttonText: strings.login.loginModel.gotoSigninLabel"></a>
            </div>

            <span class="status" data-bind="text: loginModel.errorMessage"></span>
        </form>
    </div>
    <div class="offline" align="center" style="display:none;">
        You are currently offline. Before using this app in offline mode you must initialize it while you are online
    </div>
    <!-- START_CUSTOM_CODE_loginModel -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_loginModel -->
    <header data-role="header">
        <div data-role="navbar" class="header-text">

            <span data-bind="text: strings.login.title"></span>

            <a data-role="button" href="#appDrawer" data-rel="drawer" data-align="left" data-icon="drawer-button"></a>

        </div>
    </header>


    <!-- START_CUSTOM_CODE_login -->
    <!-- Add custom code here. For more information about custom code, see http://docs.telerik.com/platform/screenbuilder/troubleshooting/how-to-keep-custom-code-changes -->

    <!-- END_CUSTOM_CODE_login -->
</div>